<section>
  <h2>Make Your Choice</h2>
  <div class="choices">
    <label>
      <input type="radio" name="choice" value="rock" [(ngModel)]="userChoice">
      <img src="assets/Rock.png" alt="Rock">
    </label>
    <label>
      <input type="radio" name="choice" value="paper" [(ngModel)]="userChoice">
      <img src="assets/Paper.png" alt="Paper">
    </label>
    <label>
      <input type="radio" name="choice" value="scissors" [(ngModel)]="userChoice">
      <img src="assets/Scissor.png" alt="Scissors">
    </label>
  </div>
  <button (click)="play()">Play</button>
</section>
